
extends layout

block content
  

  div(class='categoryContainer')
    div(class='categoryDiv')
      p(class='catName') All
      div(class='catImg')
        p img
      a(href='./inventory')
        button(type='button') View
    
    each category in category_list 
        div(class='categoryDiv') 
          p(class='catName') #{category.name}
          div(class='catImg')
            p img
          a(href=category.name)
            button(type='button') View
    
    
